<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066360335536-45qjkag938tu532q54cm5e79l6uj12bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066360335536-45qjkag938tu532q54cm5e79l6uj12bp</string>
	<key>API_KEY</key>
	<string>AIzaSyC5BU453Qf1KZuVjrZjG3ez2GrdtzKlzlg</string>
	<key>GCM_SENDER_ID</key>
	<string>1066360335536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nia.twitter.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitterapp-df25f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterapp-df25f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066360335536:ios:51699afa46f84117929f75</string>
</dict>
</plist>